@model List<Workcraft.Models.ContactMessage>
@{
    Layout = "_AdminLayout";
}

@* <div class="admin-container">
    @Html.Partial("_AdminSidebar")

    <div class="admin-content"> *@
        <h2 class="fw-bold mb-4">Contact Messages</h2>

        <div class="table-card">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Message</th>
                        <th>Date</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var msg in Model)
                    {
                        <tr>
                            <td>@msg.Name</td>
                            <td>@msg.Email</td>
                            <td class="message-cell">@msg.Message</td>
                            <td>@msg.SentAt.ToString("MMM dd")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
@*     </div>
</div> *@